body  {
    font-family: 'Courier New', 'Courier', 'monospace';
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #e0e0e0;
}

header {
    background: #1f1f1f;
    color: #00ffcc;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}
nav {
    background: #181818;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    border-bottom: 1px solid #333;
}

nav a {
    color: #00ffcc;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}
nav a:hover {
    color : #fff;
}
section {
    padding: 30px;
    max-width: 1000px;
    margin: auto;
    background: #1e1e1e;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.5);
}
footer {
    background: #1f1f1f;
    color: #00ffcc;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
    border-top: 1px solid #333;
}
h2 a {
    color: #00ffcc;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
    text-decoration: none;
}
h2 a:hover {
    color:#fff;
}
p {
    line-height: 1.6;
}